<p>
<div id="textoInstrucciones">
    <h3 style="color:#00cc99">Instrucciones</h3>
    Debes utilizar el documento <a href="https://docs.google.com/spreadsheets/d/1zYm3DGp1KsBGaJ7hCyYFH0jYSNLLa6chYObDyaLRQYE/edit?usp=sharing" target="_blank">Check list</a> para verificar la información capturada.
    <br><br>
</div>
<div id="textoMaterial">
    <h3 style="color:#00cc99">Material de ayuda</h3>
    Si tienes dudas sobre algunos campos puedes utilizar la <a href="https://docs.google.com/presentation/d/1rw0fNdB6CF4bnZx2cA06uLLmLQnctV-7QNDix42JFrg/edit?usp=sharing" target="_blank">presentación de orientación.</a>
    <br><br>
    También, puedes acceder al <a href="https://docs.google.com/spreadsheets/d/1bXsm4Yv3SNCWKhnr11b8LdYF2wcRYCqnNhHKC2ORu5A/edit?usp=sharing" target="_blank">índice de documentos</a> para conocer cuáles se deben publicar y en qué etapas se capturan.
    <br><br>
    Para obtener la clave presupuestaria y los datos de cada ítem consulta el <a href="https://docs.google.com/spreadsheets/d/1CrSeS_-DmJPzjDOYjlNcKNY_Wj74ur7DQQfe3wNoD9w/edit?usp=sharing" target="_blank">formato de ayuda para la construcción de identificadores.</a>
    <br><br>
    Por último, si deseas conocer de qué documentos se obtienen algunas variables, puedes consultar el <a href="https://docs.google.com/spreadsheets/d/13y7QfnxkWpLuTpmRR-DRU9WyQ5pr4dSixfvbUgV8aTw/edit?usp=sharing" target="_blank">Mapeo.</a>
    <br><br>
</div>
<div id="textoManual">
    <h3 style="color:#00cc99">Manual de usuario</h3>
    Si deseas conocer aspectos más técnicos sobre el funcionamiento de la herramienta consulta el <a href="https://docs.google.com/document/d/1WZR3H7_xWE-x6FOE34xi6wUlxlNOWkDzj1Lkjc--pDI/edit?usp=sharing" target="_blank">manual de usuario.</a>
</div>
</p>